<html lang="en">
   <head>
      <!-- Basic Page Needs
         ================================================== -->
      <title>Prime Professional </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!-- CSS
         ================================================== -->
      <link href="fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="blue.css">
      <style type="text/css">.popup-tab-content {
    padding: 0px;
}
      </style>
   </head>
   <body class="gray">
      <!-- Wrapper -->
      <div id="wrapper" style="padding-top: 82px;">
         <!-- Header Container
            ================================================== -->
         <header id="header-container" class="fullwidth dashboard-header not-sticky" style="position: fixed;">
            <!-- Header -->
            <div id="header">
               <div class="container">
                  <!-- Left Side Content -->
                  <div class="left-side">
                     <!-- Logo -->
                     <div id="logo">
                        <a href="index.html"><img src="images/logo.png" alt=""></a>
                     </div>
                     
                     <div class="clearfix"></div>
                     <!-- Main Navigation / End -->
                  </div>
                  <!-- Left Side Content / End -->
                  <!-- Right Side Content / End -->
                  <div class="right-side">

				<!--  User Notifications -->
				<div class="header-widget hide-on-mobile">
					
					<!-- Notifications -->
					<div class="header-notifications">

						<!-- Trigger -->
						<div class="header-notifications-trigger">
							<a href="#"><i class="icon-feather-bell"></i><span>4</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Notifications</h4>
								<button class="mark-as-read ripple-effect-dark" data-tippy-placement="left" data-tippy="" data-original-title="Mark all as read">
									<i class="icon-feather-check-square"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar="init" style="height: 270px;"><div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 192px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;"><div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
									<ul>
										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-manage-candidates.html">
												<span class="notification-icon"><i class="icon-material-outline-group"></i></span>
												<span class="notification-text">
													<strong>Michael Shannah</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
												</span>
											</a>
										</li>

										<!-- Notification -->
										<li>
											<a href="dashboard-manage-bidders.html">
												<span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
												<span class="notification-text">
													<strong>Gilbert Allanis</strong> placed a bid on your <span class="color">iOS App Development</span> project
												</span>
											</a>
										</li>

										<!-- Notification -->
										<li>
											<a href="dashboard-manage-jobs.html">
												<span class="notification-icon"><i class="icon-material-outline-autorenew"></i></span>
												<span class="notification-text">
													Your job listing <span class="color">Full Stack PHP Developer</span> is expiring.
												</span>
											</a>
										</li>

										<!-- Notification -->
										<li>
											<a href="dashboard-manage-candidates.html">
												<span class="notification-icon"><i class="icon-material-outline-group"></i></span>
												<span class="notification-text">
													<strong>Sindy Forrest</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
												</span>
											</a>
										</li>
									</ul>
								</div></div></div>
							</div>

						</div>

					</div>
					
					<!-- Messages -->
					<div class="header-notifications">
						<div class="header-notifications-trigger">
							<a href="#"><i class="icon-feather-mail"></i><span>3</span></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<div class="header-notifications-headline">
								<h4>Messages</h4>
								<button class="mark-as-read ripple-effect-dark" data-tippy-placement="left" data-tippy="" data-original-title="Mark all as read">
									<i class="icon-feather-check-square"></i>
								</button>
							</div>

							<div class="header-notifications-content">
								<div class="header-notifications-scroll" data-simplebar="init" style="height: 288px;"><div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 183px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;"><div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
									<ul>
										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-messages.html">
												<span class="notification-avatar status-online"><img src="images/user-avatar-small-03.jpg" alt=""></span>
												<div class="notification-text">
													<strong>David Peterson</strong>
													<p class="notification-msg-text">Thanks for reaching out. I'm quite busy right now on many...</p>
													<span class="color">4 hours ago</span>
												</div>
											</a>
										</li>

										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-messages.html">
												<span class="notification-avatar status-offline"><img src="images/user-avatar-small-02.jpg" alt=""></span>
												<div class="notification-text">
													<strong>Sindy Forest</strong>
													<p class="notification-msg-text">Hi Tom! Hate to break it to you, but I'm actually on vacation until...</p>
													<span class="color">Yesterday</span>
												</div>
											</a>
										</li>

										<!-- Notification -->
										<li class="notifications-not-read">
											<a href="dashboard-messages.html">
												<span class="notification-avatar status-online"><img src="images/user-avatar-placeholder.png" alt=""></span>
												<div class="notification-text">
													<strong>Marcin Kowalski</strong>
													<p class="notification-msg-text">I received payment. Thanks for cooperation!</p>
													<span class="color">Yesterday</span>
												</div>
											</a>
										</li>
									</ul>
								</div></div></div>
							</div>

							<a href="dashboard-messages.html" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>

				</div>
				<!--  User Notifications / End -->

				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							<a href="#"><div class="user-avatar status-online"><img src="images/user-avatar-small-01.jpg" alt=""></div></a>
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									<div class="user-avatar status-online"><img src="images/user-avatar-small-01.jpg" alt=""></div>
									<div class="user-name">
										Tom Smith <span>Freelancer</span>
									</div>
								</div>
								
								<!-- User Status Switcher -->
								<div class="status-switch" id="snackbar-user-status">
									<label class="user-online current-status">Online</label>
									<label class="user-invisible">Invisible</label>
									<!-- Status Indicator -->
									<span class="status-indicator" aria-hidden="true"></span>
								</div>	
						</div>
						
						<ul class="user-menu-small-nav">
							<li><a href="dashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
							<li><a href="dashboard-settings.html"><i class="icon-material-outline-settings"></i> Settings</a></li>
							<li><a href="index-logged-out.html"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
						</ul>

						</div>
					</div>

				</div>
				<!-- User Menu / End -->

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
                  <!-- Right Side Content / End -->
               </div>
            </div>
            <!-- Header / End -->
         </header>
         <div class="clearfix"></div>
         <!-- Header Container / End -->
         <!-- Dashboard Container -->
         <div class="dashboard-container" style="height: 347px;">
            <!-- Dashboard Sidebar
               ================================================== -->
            <div class="dashboard-sidebar">
               <div class="dashboard-sidebar-inner" data-simplebar="init" style="height: 347px;">
                  <div class="simplebar-track vertical" style="visibility: visible; display: none;">
                     <div class="simplebar-scrollbar visible" style="visibility: visible; top: 0px; height: 25px;"></div>
                  </div>
                  <div class="simplebar-track horizontal" style="visibility: visible; display: none;">
                     <div class="simplebar-scrollbar visible" style="visibility: visible; left: 0px; width: 25px;"></div>
                  </div>
                  <div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
                     <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                        <div class="dashboard-nav-container">
                           <!-- Responsive Navigation Trigger -->
                           <a href="#" class="dashboard-responsive-nav-trigger">
                           <span class="hamburger hamburger--collapse">
                           <span class="hamburger-box">
                           <span class="hamburger-inner"></span>
                           </span>
                           </span>
                           <span class="trigger-title">Dashboard Navigation</span>
                           </a>
                           <!-- Navigation -->
                           <div class="dashboard-nav">
                              <div class="dashboard-nav-inner">
                                 <ul>
                                    <li class="active"><a href="dashboard.html"><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
                                    <li><a href="https://webhosting.busybanda.com/Prime_Professional_Portal/managejobs.html">Manage Jobs <span class="nav-tag">3</span></a></li>
                                    <li><a href="https://webhosting.busybanda.com/Prime_Professional_Portal/Managecustomer.html">Manage Customers</a></li>
                                    <li><a href="https://webhosting.busybanda.com/Prime_Professional_Portal/ManageBid.html">Manage Bid</a></li>
                                    <li><a href="https://webhosting.busybanda.com/Prime_Professional_Portal/ManageProfessional.html">Manage Professional</a></li>
                                    <li><a href="https://webhosting.busybanda.com/Prime_Professional_Portal/paymentlist.html">Payment Reports</a></li>
									<li><a href="index-logged-out.html"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
                                 </ul>
                                
                               
                              </div>
                           </div>
                           <!-- Navigation / End -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Dashboard Sidebar / End -->
            <!-- Dashboard Content
               ================================================== -->
            <div class="dashboard-content-container" data-simplebar="init" style="height: 347px;">
               <div class="simplebar-track vertical" style="visibility: visible;">
                  <div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 75px;"></div>
               </div>
               <div class="simplebar-track horizontal" style="visibility: visible;">
                  <div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div>
               </div>
               <div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
                  <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                    <div class="dashboard-content-inner" style="min-height: 293px;">
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Manage Jobs</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>Manage Jobs</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">
                         <div class="sign-in-form">
						 <div class="sort-by">
								<div class="intro-banner-search-form mysearch" style="    margin: 6px auto;">
										<!-- Search Field -->
										
										<!-- Search Field -->
										<div class="intro-search-field with-label">
										   
										   <input id="intro-keywords" type="text" placeholder="Job categories">
										</div>
										<!-- Button -->
										<div class="intro-search-button">
										   <button class="button ripple-effect" onclick="window.location.href='jobs-list-layout-full-page-map.html'">Search</button>
										</div>
									 </div>
							</div>
							<ul class="popup-tabs-nav">
							   <li class="active"><a href="#login">Active Jobs</a></li>
							   <li class=""><a href="#register">Job completed</a></li>
							</ul>
							<div class="popup-tabs-container">
							   <!-- Login -->
							   <div class="popup-tab-content" id="login" style="">
							   <div class="content">
											<ul class="dashboard-box-list">
								<li>
									<!-- Job Listing -->
									<div class="job-listing">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Logo -->
<!-- 											<a href="#" class="job-listing-company-logo">
												<img src="images/company-logo-05.png" alt="">
											</a> -->

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title"><a href="#">Frontend React Developer</a> <span class="dashboard-status-button green">Pending Approval</span></h3>

												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="fa-solid fa-calendar-days"></i> Posted on 10 July, 2019</li>
														<li><i class="fa-solid fa-calendar-days"></i>Expiring on 10 August, 2019</li>
														<li><i class="fa-solid fa-gavel"></i>Total Bid:500</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<!-- Buttons -->
									<div class="buttons-to-right always-visible">
										<a href="dashboard-manage-candidates.html" class="button ripple-effect">Job Approved</a>
										
										<a href="#" class="button gray ripple-effect ico" data-tippy-placement="top" data-tippy="" data-original-title="Remove"><i class="fa-solid fa-trash-can"></i></a>
									</div>
								</li>

								<li>
									<!-- Job Listing -->
									<div class="job-listing">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title"><a href="#">Full Stack PHP Developer</a> <span class="dashboard-status-button yellow">Expiring</span></h3>

												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="fa-solid fa-calendar-days"></i> Posted on 28 June, 2019</li>
														<li><i class="fa-solid fa-calendar-days"></i>Expiring on 28 July, 2019</li>
														<li><i class="fa-solid fa-gavel"></i>Total Bid:500</li>
													</ul>
												</div>
											</div>

										</div>
									</div>

									<!-- Buttons -->
									<div class="buttons-to-right always-visible">
										<a href="dashboard-manage-candidates.html" class="button ripple-effect">Job Approved</a>
										<a href="#" class="button gray ripple-effect ico" data-tippy-placement="top" data-tippy="" data-original-title="Remove"><i class="fa-solid fa-trash-can"></i></a>
									</div>
								</li>

								<li>
									<!-- Job Listing -->
									<div class="job-listing">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title"><a href="#">Node.js Developer</a> <span class="dashboard-status-button red">Expired</span></h3>

												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="fa-solid fa-calendar-days"></i>Posted on 16 May, 2019</li>
														<li><i class="fa-solid fa-calendar-days"></i>Expiring on 28 July, 2019</li>
														<li><i class="fa-solid fa-gavel"></i>Total Bid:500</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<!-- Buttons -->
									<div class="buttons-to-right always-visible">
									<a href="dashboard-manage-candidates.html" class="button ripple-effect">Job Approved</a>
									<a href="#" class="button gray ripple-effect ico" data-tippy-placement="top" data-tippy="" data-original-title="Remove"><i class="fa-solid fa-trash-can"></i></a>
									</div>
								</li>

							</ul>
						</div>
               </div>
               <!-- Register -->
               <div class="popup-tab-content" id="register" style="display: none;">
                  <div class="content">
							<ul class="dashboard-box-list">
								<li>
									<!-- Job Listing -->
									<div class="job-listing">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Logo -->
<!-- 											<a href="#" class="job-listing-company-logo">
												<img src="images/company-logo-05.png" alt="">
											</a> -->

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title"><a href="#">Frontend React Developer</a> <span class="dashboard-status-button green">Pending Approval</span></h3>

												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="fa-solid fa-calendar-days"></i> Posted on 10 July, 2019</li>
														<li><i class="fa-solid fa-calendar-days"></i>Expiring on 10 August, 2019</li>
														<li><i class="fa-solid fa-calendar-days"></i>Completed on 28 July, 2019</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<!-- Buttons -->
									<div class="buttons-to-right always-visible">
									<a href="#" class="button dark ripple-effect"><i class="fa-solid fa-trash-can"></i></a>
										
									</div>
								</li>

								<li>
									<!-- Job Listing -->
									<div class="job-listing">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title"><a href="#">Full Stack PHP Developer</a> <span class="dashboard-status-button yellow">Expiring</span></h3>

												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="fa-solid fa-calendar-days"></i> Posted on 28 June, 2019</li>
														<li><i class="fa-solid fa-calendar-days"></i>Expiring on 28 July, 2019</li>
														<li><i class="fa-solid fa-calendar-days"></i>Completed on 28 July, 2019</li>
													</ul>
												</div>
											</div>

										</div>
									</div>

									<!-- Buttons -->
									<div class="buttons-to-right always-visible">
									<a href="#" class="button dark ripple-effect"><i class="fa-solid fa-trash-can"></i></a>
										
									</div>
								</li>

								<li>
									<!-- Job Listing -->
									<div class="job-listing">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title"><a href="#">Node.js Developer</a> <span class="dashboard-status-button red">Expired</span></h3>

												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="fa-solid fa-calendar-days"></i>Posted on 16 May, 2019</li>
														<li><i class="fa-solid fa-calendar-days"></i>Completed on 28 July, 2019</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<!-- Buttons -->
									<div class="buttons-to-right always-visible">
									<a href="#" class="button dark ripple-effect"><i class="fa-solid fa-trash-can"></i></a>
										
									</div>
								</li>

							</ul>
						</div>
               </div>
            </div>
         </div>
						
					</div>
				</div>

			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer" style="padding-top: 125px;"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2019 <strong>Prime</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Facebook">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Twitter">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Google Plus">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" data-tippy-placement="top" data-tippy="" data-original-title="LinkedIn">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
                  </div>
               </div>
            </div>
            <!-- Dashboard Content / End -->
         </div>
         <!-- Dashboard Container / End -->
      </div>
      <!-- Wrapper / End -->
      <!-- Apply for a job popup
         ================================================== -->
      <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
         <!--Tabs -->
         <div class="sign-in-form">
            <ul class="popup-tabs-nav" style="pointer-events: none;">
               <li class="active"><a href="#tab">Add Note</a></li>
            </ul>
            <div class="popup-tabs-container">
               <!-- Tab -->
               <div class="popup-tab-content" id="tab" style="">
                  <!-- Welcome Text -->
                  <div class="welcome-text">
                     <h3>Do Not Forget 😎</h3>
                  </div>
                  <!-- Form -->
                  <form method="post" id="add-note">
                     <div class="btn-group bootstrap-select with-border default margin-bottom-20">
                        <button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" title="Priority"><span class="filter-option pull-left">Priority</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                        <div class="dropdown-menu open" role="combobox">
                           <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                              <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Low Priority</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Medium Priority</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">High Priority</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                           </ul>
                        </div>
                        <select class="selectpicker with-border default margin-bottom-20" data-size="7" title="Priority" tabindex="-98">
                           <option class="bs-title-option" value="">Priority</option>
                           <option>Low Priority</option>
                           <option>Medium Priority</option>
                           <option>High Priority</option>
                        </select>
                     </div>
                     <textarea name="textarea" cols="10" placeholder="Note" class="with-border"></textarea>
                  </form>
                  <!-- Button -->
                  <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="add-note" style="width: 30px;">Add Note <i class="icon-material-outline-arrow-right-alt"></i></button>
               </div>
            </div>
         </div>
      </div>
      <!-- Apply for a job popup / End -->
      <!-- Scripts
         ================================================== -->
      <script src="js/jquery-3.4.1.min.js"></script>
      <script src="js/jquery-migrate-3.1.0.min.js"></script>
      <script src="js/mmenu.min.js"></script>
      <script src="js/tippy.all.min.js"></script>
      <script src="js/simplebar.min.js"></script>
      <script src="js/bootstrap-slider.min.js"></script>
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/snackbar.js"></script>
      <script src="js/clipboard.min.js"></script>
      <script src="js/counterup.min.js"></script>
      <script src="js/magnific-popup.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
      <script>
         // Snackbar for user status switcher
         $('#snackbar-user-status label').click(function() { 
         	Snackbar.show({
         		text: 'Your status has been changed!',
         		pos: 'bottom-center',
         		showAction: false,
         		actionText: "Dismiss",
         		duration: 3000,
         		textColor: '#fff',
         		backgroundColor: '#383838'
         	}); 
         }); 
      </script>
      <!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
      <script src="js/chart.min.js"></script>
      <script>
         Chart.defaults.global.defaultFontFamily = "Nunito";
         Chart.defaults.global.defaultFontColor = '#888';
         Chart.defaults.global.defaultFontSize = '14';
         
         var ctx = document.getElementById('chart').getContext('2d');
         
         var chart = new Chart(ctx, {
         	type: 'line',
         
         	// The data for our dataset
         	data: {
         		labels: ["January", "February", "March", "April", "May", "June"],
         		// Information about the dataset
            		datasets: [{
         			label: "Views",
         			backgroundColor: 'rgba(42,65,232,0.08)',
         			borderColor: '#2a41e8',
         			borderWidth: "3",
         			data: [196,132,215,362,210,252],
         			pointRadius: 5,
         			pointHoverRadius:5,
         			pointHitRadius: 10,
         			pointBackgroundColor: "#fff",
         			pointHoverBackgroundColor: "#fff",
         			pointBorderWidth: "2",
         		}]
         	},
         
         	// Configuration options
         	options: {
         
         	    layout: {
         	      padding: 10,
         	  	},
         
         		legend: { display: false },
         		title:  { display: false },
         
         		scales: {
         			yAxes: [{
         				scaleLabel: {
         					display: false
         				},
         				gridLines: {
         					 borderDash: [6, 10],
         					 color: "#d8d8d8",
         					 lineWidth: 1,
                     	},
         			}],
         			xAxes: [{
         				scaleLabel: { display: false },  
         				gridLines:  { display: false },
         			}],
         		},
         
         	    tooltips: {
         	      backgroundColor: '#333',
         	      titleFontSize: 13,
         	      titleFontColor: '#fff',
         	      bodyFontColor: '#fff',
         	      bodyFontSize: 13,
         	      displayColors: false,
         	      xPadding: 10,
         	      yPadding: 10,
         	      intersect: false
         	    }
         	},
         
         
         });
         
      </script>
      <div id="backtotop"><a href="#"></a></div>
   </body>
</html>